<a href="https://colab.research.google.com/github/viplazylmht/P4DS_final/blob/preprocessing/P4DS_Final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1 align="center">P4DS - Final Project</h1>
<p align="center">
  <a href="https://github.com/viplazylmht">
    <img src="https://img.shields.io/badge/18120339-viplazylmht-brightgreen.svg">
  </a>
  <a href="https://github.com/vohieu00">
    <img src="https://img.shields.io/badge/18120379-vohieu00-brightgreen.svg">
  </a>
</p>
<svg width="100" height="50" xmlns="http://www.w3.org/2000/svg"></svg>

<h2>Contributors & References</h2>

| STT | Họ và Tên | MSSV | Git
|:-:|:-|:-:|:-:
| Nhóm | Hà Văn Duy | 18120339 | [viplazylmht](https://github.com/viplazylmht)
| 20 | Võ Thị Hiếu | 18120379 | [vohieu00](https://github.com/vohieu00)

Data informations:

- Dataset Description: [health.data.ny.gov](https://health.data.ny.gov/Health/Hospital-Inpatient-Discharges-SPARCS-De-Identified/82xm-y6g8)  

- Kaggle: [2015 de-identified NY inpatient discharge (SPARCS)](https://www.kaggle.com/jonasalmeida/2015-deidentified-ny-inpatient-discharge-sparcs)

<!-- **Sơ nét về dữ liệu** -->
Tập dữ liệu được công khai bởi sở Y tế bang New York, chứa thông tin chi tiết về bệnh nhân khi xuất viện nhưng không chứa thông tin xác định danh tính.

# Import thư viện

In [24]:
import numpy as np
import pandas as pd

import warnings
warnings.simplefilter(action='ignore')

# Thu thập dữ liệu

## Tải tập dữ liệu

In [25]:
!gdown --id 1UKxIYjWw6sPuITsv6RjgNsEFpx3vMJNX
!unzip -o 2015-deidentified-ny-inpatient-discharge-sparcs.zip

Downloading...
From: https://drive.google.com/uc?id=1UKxIYjWw6sPuITsv6RjgNsEFpx3vMJNX
To: /content/2015-deidentified-ny-inpatient-discharge-sparcs.zip
115MB [00:01, 87.2MB/s]
Archive:  2015-deidentified-ny-inpatient-discharge-sparcs.zip
  inflating: Hospital_Inpatient_Discharges__SPARCS_De-Identified___2015.csv

In [26]:
!ls

2015-deidentified-ny-inpatient-discharge-sparcs.zip		sample_data
Hospital_Inpatient_Discharges__SPARCS_De-Identified___2015.csv

## Đọc dữ liệu

In [27]:
df = pd.read_csv('Hospital_Inpatient_Discharges__SPARCS_De-Identified___2015.csv')
df.sample(5)

        Health Service Area Hospital County  ...  Total Charges  Total Costs
951319        New York City           Bronx  ...      $46489.15    $10489.46
2070596         Long Island          Nassau  ...      $21341.11     $6727.58
1495208       New York City       Manhattan  ...      $81507.18    $41550.93
2119907         Long Island          Nassau  ...      $20980.97     $4096.44
1269180       New York City           Kings  ...      $12665.06     $3662.29

[5 rows x 37 columns]

# Khám phá dữ liệu

In [28]:
df.shape

(2346760, 37)

Tập dữ liệu có 2 346 760 mẫu với 37 thuộc tính, trong đó có 3 thuộc tính không có trong bộ dữ liệu gốc được  đó là Attending Provider License Number, Operating Provider License Number và Other Provider License Number.

## Chi tiết thuộc tính

| Thuộc tính | Mô tả
|:-:|:-
| Health Service Area | vị trí bệnh viện (Capital / Adirondack, Central NY, Finger Lakes, Hudson Valley,...)
| Hospital County |  tên quận nơi đặt bệnh viện. 
|Facility Id | ID cơ sở y tế
|Facility Name | tên cơ sở y tế
|Age Group | nhóm tuổi của bệnh nhân, được tính tại thời điểm xuất viện( $\leq$ 17, 18-29, 30-49, 50-69 và $\geq$ 70)
|Zip Code - 3 digits | 3 chữ số đầu tiên của mã bưu chính của bệnh nhân
|Gender | giới tính
|Race | chủng tộc (Black/African, American, ...)
|Ethnicity  | dân tộc 
|Length of Stay  | số ngày từ ngày nhập viện-xuất viện, tối đa 120 ngày
|Type of Admission  | hình thức nhập viện (tự chọn, cấp cứu, ...)
|Patient Disposition |  tình trạng bệnh nhân khi xuất viện
|Discharge Year  | năm xuất viện  
|CCS Diagnosis Code   |  mã chẩn đoán phân loại lâm sàn CCS 
|CCS Diagnosis Description  | mô tả danh mục chẩn đoán lâm sàn CCS 
|CCS Procedure Code  |  mã thủ tục CCS  
|CCS Procedure Description  | mô tả thủ tục CCS 
|APR DRG Code | mã APR DRG (all patient refinded diagnosis related group)
|APR DRG Description  | mô tả mã phân loại APR DRG 
|APR MDC Code | mã phân loại APR MDC  (all patient refind major |diagnostic category)
|APR MDC Description  |  mô tả phân loại APR MDC
|APR Severity of Illness Code | mã mức độ nghiêm trọng của bệnh tật chuẩn APR-DRG 
|APR Severity of Illness Description | mô tả mức độ nghiêm trọng của bệnh 
|APR Risk of Mortality   |  nguy cơ tử vong (nhỏ :1, vừa 2: lớn:3 , khẩn cấp:4)
|APR Medical Surgical Description | mô tả APR-DRG về phẫu thuật, y tế,...
|Payment Typology x  |  hình thức thanh toán x
|Operating Certificate Number| giấy phép hoạt động của cơ sở y tế
|Attending Provider License Number | giấy phép tham gia
|Operating Provider License Number  | giấy phép vận hành
|Other Provider License Number | một số giấy phép khác
|Birth Weight  |  trọng lượng lúc mới sinh, tính bằng gam
|Abortion Edit Indicator   | cho biết lúc xuất viện có dấu hiệu thực hiện phá thai hay không
|Emergency Department Indicator  | chỉ báo khoa cấp cứu (nếu có mã của bộ phận cấp cứu 045X thì sẽ đặt là Y, ngược lại N)
|Total Charges  | tổng viện phí 
|Total Costs  | tổng chi phí|

**Chú thích** \\
  - [APR DRG](https://www.hcup-us.ahrq.gov/db/nation/nis/APR-DRGsV20MethodologyOverviewandBibliography.pdf)
  - [APR MDC](https://en.wikipedia.org/wiki/Major_Diagnostic_Category)

    *Đối với các vụ phá thai, hồ sơ sẽ để trống nhiều chi tiết như khu vực, cơ sở thực hiện, ...*

## Dữ liệu khuyết

In [29]:
df.isna().sum()

Health Service Area                       2911
Hospital County                           2911
Operating Certificate Number              2911
Facility Id                               2911
Facility Name                                0
Age Group                                    0
Zip Code - 3 digits                       4427
Gender                                       0
Race                                         0
Ethnicity                                    0
Length of Stay                               0
Type of Admission                            0
Patient Disposition                          0
Discharge Year                               0
CCS Diagnosis Code                           0
CCS Diagnosis Description                    0
CCS Procedure Code                           0
CCS Procedure Description                    0
APR DRG Code                                 0
APR DRG Description                          0
APR MDC Code                                 0
APR MDC Description                          0
APR Severity of Illness Code                 0
APR Severity of Illness Description        112
APR Risk of Mortality                      112
APR Medical Surgical Description             0
Payment Typology 1                           0
Payment Typology 2                      762346
Payment Typology 3                     1645570
Attending Provider License Number         2911
Operating Provider License Number       612848
Other Provider License Number          2275424
Birth Weight                                 0
Abortion Edit Indicator                      0
Emergency Department Indicator               0
Total Charges                                0
Total Costs                                  0
dtype: int64

Dữ liệu bị khuyết ở các cột \\
- Health Service Area
- Hospital County
- Operating Certificate Number
- Facility Id, Zip Code - 3 digits
- APR Severity of Illness Description
- APR Risk of Mortality
- Payment Typology 2
- Payment Typology 3
- Attending Provider License Number
- Operating Provider License Number
- Other Provider License Number

## Kiểu dữ liệu mỗi cột

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2346760 entries, 0 to 2346759
Data columns (total 37 columns):
 #   Column                               Dtype
---  ------                               -----
 0   Health Service Area                  object
 1   Hospital County                      object
 2   Operating Certificate Number         float64
 3   Facility Id                          float64
 4   Facility Name                        object
 5   Age Group                            object
 6   Zip Code - 3 digits                  object
 7   Gender                               object
 8   Race                                 object
 9   Ethnicity                            object
 10  Length of Stay                       object
 11  Type of Admission                    object
 12  Patient Disposition                  object
 13  Discharge Year                       int64
 14  CCS Diagnosis Code                   int64
 15  CCS Diagnosis Description            object
 16  CCS Procedure Code                   int64
 17  CCS Procedure Description            object
 18  APR DRG Code                         int64
 19  APR DRG Description                  object
 20  APR MDC Code                         int64
 21  APR MDC Description                  object
 22  APR Severity of Illness Code         int64
 23  APR Severity of Illness Description  object
 24  APR Risk of Mortality                object
 25  APR Medical Surgical Description     object
 26  Payment Typology 1                   object
 27  Payment Typology 2                   object
 28  Payment Typology 3                   object
 29  Attending Provider License Number    float64
 30  Operating Provider License Number    float64
 31  Other Provider License Number        float64
 32  Birth Weight                         int64
 33  Abortion Edit Indicator              object
 34  Emergency Department Indicator       object
 35  Total Charges                        object
 36  Total Costs                          object
dtypes: float64(5), int64(7), object(25)
memory usage: 662.5+ MB

In [31]:
nume_feature = df.select_dtypes(exclude='object')
nume_feature.sample(5)

         Operating Certificate Number  ...  Birth Weight
322475                       301001.0  ...             0
2132081                     2950002.0  ...             0
2154150                     2951001.0  ...             0
98032                       1401013.0  ...             0
258177                      2701005.0  ...             0

[5 rows x 12 columns]

In [32]:
cate_feature = df.select_dtypes(include='object')
cate_feature.sample(3)

        Health Service Area Hospital County  ... Total Charges Total Costs
2082104         Long Island          Nassau  ...     $48144.00   $14403.92
2210744         Long Island          Nassau  ...     $54479.00   $10560.89
459493           Central NY        Onondaga  ...     $23178.44   $11193.85

[3 rows x 25 columns]

- Cột Total Charges, Total Costs và Length of Stay nên có kiểu dữ liệu là numeric thay vì object
- Cột Attending Provider License Number, Operating Provider License Number, Other Provider License Number nên có kiểu dữ liệu là object

# Chọn dữ liệu

In [33]:
pd.set_option('display.max_colwidth', 200)
def missing_ratio(df):
    return round(df.isna().sum() * 100 / len(df), 2)
def count(df):
    return df.nunique()
def value(df):
    return dict((df.value_counts(normalize=True) * 100).round(2))

In [34]:
nume_profile = nume_feature.describe().round(2)
missing_inf = pd.DataFrame(df[nume_feature.columns].apply(missing_ratio), columns=["missing_ratio"]).T
nume_profile = pd.concat([nume_profile, missing_inf])
nume_profile.T

                                       count  ...  missing_ratio
Operating Certificate Number       2343849.0  ...           0.12
Facility Id                        2343849.0  ...           0.12
Discharge Year                     2346760.0  ...           0.00
CCS Diagnosis Code                 2346760.0  ...           0.00
CCS Procedure Code                 2346760.0  ...           0.00
APR DRG Code                       2346760.0  ...           0.00
APR MDC Code                       2346760.0  ...           0.00
APR Severity of Illness Code       2346760.0  ...           0.00
Attending Provider License Number  2343849.0  ...           0.12
Operating Provider License Number  1733912.0  ...          26.11
Other Provider License Number        71336.0  ...          96.96
Birth Weight                       2346760.0  ...           0.00

[12 rows x 9 columns]

In [35]:
cate_profile = cate_feature.agg([missing_ratio, count, value])
cate_profile.T

                                    missing_ratio  ...                                                                                                                                                                                                    value
Health Service Area                          0.12  ...                       {'New York City': 46.6, 'Long Island': 14.48, 'Hudson Valley': 10.49, 'Capital/Adiron': 7.14, 'Western NY': 6.99, 'Central NY': 6.76, 'Finger Lakes': 6.25, 'Southern Tier': 1.29}
Hospital County                              0.12  ...  {'Manhattan': 17.11, 'Kings': 10.62, 'Queens': 8.41, 'Bronx': 8.03, 'Nassau': 7.73, 'Suffolk': 6.75, 'Erie': 5.14, 'Westchester': 5.09, 'Monroe': 4.49, 'Onondaga': 3.34, 'Albany': 2.8, 'Richmond':...
Facility Name                                   0  ...  {'Mount Sinai Hospital': 2.38, 'North Shore University Hospital': 2.03, 'New York Presbyterian Hospital - Columbia Presbyterian Center': 2.02, 'New York Presbyterian Hospital - New York Weill Corn...
Age Group                                       0  ...                                                                                                        {'50 to 69': 27.48, '70 or Older': 27.42, '30 to 49': 19.54, '0 to 17': 15.02, '18 to 29': 10.53}
Zip Code - 3 digits                          0.19  ...  {'112': 13.39, '104': 9.61, '117': 7.77, '100': 7.26, '113': 5.19, '114': 3.9, '115': 3.79, 'OOS': 2.87, '142': 2.82, '103': 2.66, '105': 2.64, '109': 2.53, '146': 2.4, '125': 1.98, '140': 1.87, '...
Gender                                          0  ...                                                                                                                                                                       {'F': 55.72, 'M': 44.28, 'U': 0.0}
Race                                            0  ...                                                                                                              {'White': 56.88, 'Other Race': 23.2, 'Black/African American': 18.96, 'Multi-racial': 0.95}
Ethnicity                                       0  ...                                                                                                           {'Not Span/Hispanic': 83.28, 'Spanish/Hispanic': 11.87, 'Unknown': 4.47, 'Multi-ethnic': 0.37}
Length of Stay                                  0  ...  {'2': 21.95, '3': 17.15, '1': 13.73, '4': 10.02, '5': 6.49, '6': 4.74, '7': 3.77, '8': 2.74, '9': 2.06, '10': 1.63, '11': 1.3, 2: 1.2, '12': 1.09, '13': 0.98, 3: 0.94, '14': 0.93, 1: 0.73, '15': 0...
Type of Admission                               0  ...                                                                                          {'Emergency': 63.41, 'Elective': 19.06, 'Newborn': 9.68, 'Urgent': 7.53, 'Trauma': 0.27, 'Not Available': 0.05}
Patient Disposition                             0  ...  {'Home or Self Care': 66.99, 'Home w/ Home Health Services': 12.97, 'Skilled Nursing Home': 9.55, 'Expired': 2.17, 'Left Against Medical Advice': 2.01, 'Inpatient Rehabilitation Facility': 1.9, 'S...
CCS Diagnosis Description                       0  ...  {'Liveborn': 9.66, 'Septicemia (except in labor)': 4.63, 'Osteoarthritis': 2.7, 'Congestive heart failure; nonhypertensive': 2.5, 'Mood disorders': 2.43, 'Pneumonia (except that caused by tubercul...
CCS Procedure Description                       0  ...  {'NO PROC': 26.0, 'OTHER THERAPEUTIC PRCS': 7.48, 'OT PRCS TO ASSIST DELIV': 3.56, 'PROPHYLACTIC VAC/INOCUL': 3.45, 'CESAREAN SECTION': 3.19, 'RESP INTUB/MECH VENTIL': 3.16, 'ALCO/DRUG REHAB/DETOX...
APR DRG Description                             0  ...  {'Neonate birthwt >2499g, normal newborn or neonate w other problem': 8.44, 'Vaginal delivery': 6.27, 'Septicemia & disseminated infections': 4.05, 'Cesarean delivery': 3.24, 'Heart failure': 2.4,...
APR MDC Description                             0  ...  {'Diseases and Disorders of the Circulatory System': 12.34, 'Pregnancy, Childbirth and the Puerperium': 10.83, 'Newborns and Other Neonates with Conditions Originating in the Perinatal Period': 9....
APR Severity of Illness Description             0  ...                                                                                                                                     {'Moderate': 38.24, 'Minor': 33.47, 'Major': 22.04, 'Extreme': 6.25}
APR Risk of Mortality                           0  ...                                                                                                                                     {'Minor': 59.22, 'Moderate': 21.31, 'Major': 14.29, 'Extreme': 5.19}
APR Medical Surgical Description                0  ...                                                                                                                                             {'Medical': 75.83, 'Surgical': 24.17, 'Not Applicable': 0.0}
Payment Typology 1                              0  ...  {'Medicare': 37.34, 'Medicaid': 30.56, 'Private Health Insurance': 14.26, 'Blue Cross/Blue Shield': 11.74, 'Self-Pay': 2.89, 'Miscellaneous/Other': 1.24, 'Managed Care, Unspecified': 0.98, 'Federa...
Payment Typology 2                          32.49  ...  {'Medicaid': 35.01, 'Self-Pay': 23.11, 'Medicare': 21.26, 'Private Health Insurance': 10.2, 'Blue Cross/Blue Shield': 7.85, 'Miscellaneous/Other': 1.03, 'Federal/State/Local/VA': 0.68, 'Unknown': ...
Payment Typology 3                          70.12  ...  {'Self-Pay': 68.4, 'Medicaid': 17.77, 'Private Health Insurance': 4.97, 'Blue Cross/Blue Shield': 3.06, 'Medicare': 2.71, 'Unknown': 2.42, 'Federal/State/Local/VA': 0.47, 'Managed Care, Unspecifie...
Abortion Edit Indicator                         0  ...                                                                                                                                                                                  {'N': 99.88, 'Y': 0.12}
Emergency Department Indicator                  0  ...                                                                                                                                                                                 {'Y': 58.34, 'N': 41.66}
Total Charges                                   0  ...  {'$9973.90': 0.06, '$8375.20': 0.04, '$4285.44': 0.03, '$4376.42': 0.03, '$10575.90': 0.03, '$14333.90': 0.02, '$4454.33': 0.02, '$3278.00': 0.02, '$8821.95': 0.02, '$5988.81': 0.02, '$7885.00': 0...
Total Costs                                     0  ...  {'$1046.14': 0.06, '$1712.33': 0.04, '$3061.21': 0.03, '$4216.68': 0.03, '$1146.07': 0.03, '$1456.81': 0.02, '$1297.95': 0.02, '$2016.97': 0.02, '$1716.17': 0.02, '$2025.33': 0.02, '$1684.61': 0.0...

[25 rows x 3 columns]

$\rightarrow$ Ta bỏ thuộc tính Other Provider License Number vì độ khuyết dữ liệu quá lớn. Ta cũng loại bỏ một số thuộc tính có yếu tố "Descripion" và một số thuộc tính khác.

In [36]:
del_columns = ["Other Provider License Number", "CCS Diagnosis Description", "CCS Procedure Description", "APR DRG Description", "APR MDC Description",
"Facility Name", "APR Risk of Mortality", "Attending Provider License Number", "Zip Code - 3 digits", "Operating Provider License Number", "Health Service Area", "Race", 
"APR Severity of Illness Description", "Hospital County", "Ethnicity"]
columns = set(df.columns )- set(del_columns)
# columns

**Các thuộc tính dùng để phân tích:** \\
- Facility Id
- Discharge Year
- CCS Diagnosis Code
- CCS Procedure Code
- APR DRG Code
- APR MDC Code
- APR Severity of Illness Code
- Birth Weight
- Age Group
- Gender
- Length of Stay
- Type of Admission
- Patient Disposition
- APR Medical Surgical Description
- APR Severity of Illness Description
- Payment Typology 1
- Payment Typology 2
- Payment Typology 3
- Abortion Edit Indicator
- Emergency Department Indicator
- Total Charges
- Total Costs

In [37]:
data = df[columns]

# Xử lý dữ liệu

## Chuyển đổi kiểu dữ liệu phù hợp

In [38]:
def convert_to_numeric(Sr):
    new_Sr = Sr.map(lambda x:x[1:])
    new_Sr = pd.to_numeric(new_Sr)
    return new_Sr

data['Total Charges'] = convert_to_numeric(data['Total Charges'])
data['Total Costs'] = convert_to_numeric(data['Total Costs'])

In [39]:
data.dtypes

Payment Typology 3                   object
Payment Typology 1                   object
Payment Typology 2                   object
Age Group                            object
Operating Certificate Number        float64
APR DRG Code                          int64
CCS Diagnosis Code                    int64
Patient Disposition                  object
Abortion Edit Indicator              object
Type of Admission                    object
Facility Id                         float64
Total Charges                       float64
Emergency Department Indicator       object
APR MDC Code                          int64
Total Costs                         float64
Discharge Year                        int64
APR Medical Surgical Description     object
Birth Weight                          int64
CCS Procedure Code                    int64
APR Severity of Illness Code          int64
Gender                               object
Length of Stay                       object
dtype: object

Kiểm tra lại thấy kiểu dữ liệu đã đúng.

## Tạo thuộc tính mới Payment

In [40]:
payment = data[['Payment Typology 1','Payment Typology 2', 'Payment Typology 3']].replace(np.nan, '')
payment

               Payment Typology 1 Payment Typology 2        Payment Typology 3
0                        Medicaid
1                        Medicaid
2                        Medicaid
3                        Medicare
4                        Medicaid
...                           ...                ...                       ...
2346755                  Medicare           Medicare  Private Health Insurance
2346756  Private Health Insurance
2346757                  Medicaid
2346758                  Medicare           Medicare    Blue Cross/Blue Shield
2346759                  Self-Pay

[2346760 rows x 3 columns]

In [41]:
# a = payment['Payment Typology 1'].str.cat(payment['Payment Typology 2'], sep=',').str.cat(payment['Payment Typology 3'], sep=',')
# payment[['Payment Typology 1', 'Payment Typology 2', 'Payment Typology 3']].apply(lambda x: ','.join(x), axis=1)
def remove_char(s):
    s = s.replace(',,', ',')
    if s[-1] == ',':
        s = s[:-1]
    return s

data["Payment"] = payment.apply(lambda x: ','.join(x),axis=1)
data["Payment"] = pd.Series(remove_char(s) for s in data["Payment"])
data.drop(columns = ['Payment Typology 1', 'Payment Typology 2', 'Payment Typology 3'], inplace=True)

In [42]:
columns = data.columns

## Dữ liệu khuyết

In [43]:
cate_missing_col = list(set(cate_profile.T[cate_profile.T['missing_ratio']>0].index)-set(del_columns)-set(payment.columns))
cate_missing_col

[]

In [44]:
nume_missing_col = list(set(nume_profile.T[nume_profile.T['missing_ratio']>0].index) - set(del_columns))
nume_missing_col

['Facility Id', 'Operating Certificate Number']

In [45]:
data[nume_missing_col] = data[nume_missing_col].fillna(data[nume_missing_col].mean())

In [46]:
data.isna().sum()

Age Group                           0
Operating Certificate Number        0
APR DRG Code                        0
CCS Diagnosis Code                  0
Patient Disposition                 0
Abortion Edit Indicator             0
Type of Admission                   0
Facility Id                         0
Total Charges                       0
Emergency Department Indicator      0
APR MDC Code                        0
Total Costs                         0
Discharge Year                      0
APR Medical Surgical Description    0
Birth Weight                        0
CCS Procedure Code                  0
APR Severity of Illness Code        0
Gender                              0
Length of Stay                      0
Payment                             0
dtype: int64

$\rightarrow$ Dữ liệu không còn chứa các thuộc tính bị khuyết.

# Đặt câu hỏi cần trả lời

<!-- - Phần lớn những bệnh nằm viện dài ngày thường thuộc nhóm bệnh nào và mức độ - nghiêm trọng của bệnh lý mắc phải như thế nào?
- Những bệnh nhân trải qua đại phẫu thường điều trị nội trú bao lâu và được hỗ trợ chi phí như thế nào?
- Thời gian nhập viện trung bình. Điều này ảnh hưởng tới việc phân bố bệnh nhân thế nào? 
- Những bệnh nhân nằm viện dài ngày thường mắc phải các nhóm bệnh nào? Nguy cơ tử vong? lắm mồm -->