<h1 align="center">P4DS - Final Project</h1>
<p align="center">
  <a href="https://github.com/viplazylmht">
    <img src="https://img.shields.io/badge/18120339-viplazylmht-brightgreen.svg">
  </a>
  <a href="https://github.com/vohieu00">
    <img src="https://img.shields.io/badge/18120379-vohieu00-brightgreen.svg">
  </a>
</p>
<svg width="100" height="50" xmlns="http://www.w3.org/2000/svg"></svg>

<h2>Contributors & References</h2>

| STT | Họ và Tên | MSSV | Gid
|:-:|:-|:-:|:-:
| Nhóm | Hà Văn Duy | 18120339 | [viplazylmht](https://github.com/viplazylmht)
| 20 | Võ Thị Hiếu | 18120379 | [vohieu00](https://github.com/vohieu00)

Data informations:

- Dataset Description: [health.data.ny.gov](https://health.data.ny.gov/Health/Hospital-Inpatient-Discharges-SPARCS-De-Identified/82xm-y6g8)  

- Kaggle: [2015 de-identified NY inpatient discharge (SPARCS)](https://www.kaggle.com/jonasalmeida/2015-deidentified-ny-inpatient-discharge-sparcs)

# Import thư viện

In [ ]:
import numpy as np
import pandas as pd

# Thu thập dữ liệu

## Tải tập dữ liệu

In [ ]:
!gdown --id 1UKxIYjWw6sPuITsv6RjgNsEFpx3vMJNX
!unzip -o 2015-deidentified-ny-inpatient-discharge-sparcs.zip

Downloading...
From: https://drive.google.com/uc?id=1UKxIYjWw6sPuITsv6RjgNsEFpx3vMJNX
To: /content/2015-deidentified-ny-inpatient-discharge-sparcs.zip
115MB [00:00, 150MB/s]
Archive:  2015-deidentified-ny-inpatient-discharge-sparcs.zip
  inflating: Hospital_Inpatient_Discharges__SPARCS_De-Identified___2015.csv

In [ ]:
!ls

2015-deidentified-ny-inpatient-discharge-sparcs.zip		sample_data
Hospital_Inpatient_Discharges__SPARCS_De-Identified___2015.csv

## Khám phá dữ liệu

In [ ]:
df = pd.read_csv('Hospital_Inpatient_Discharges__SPARCS_De-Identified___2015.csv')
df.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

  Health Service Area Hospital County  ...  Total Charges  Total Costs
0          Western NY     Cattaraugus  ...       $5620.00     $4561.28
1          Western NY     Cattaraugus  ...       $7404.18     $6933.94
2          Western NY     Cattaraugus  ...       $7931.28     $7154.85
3          Western NY     Cattaraugus  ...      $11304.44     $4584.11
4          Western NY      Chautauqua  ...       $8330.50     $4361.74

[5 rows x 37 columns]

In [ ]:
df.shape

(2346760, 37)

# TODO: Nêu ý nghĩa các thuộc tính

### Kiểu dữ liệu mỗi cột

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2346760 entries, 0 to 2346759
Data columns (total 37 columns):
 #   Column                               Dtype
---  ------                               -----
 0   Health Service Area                  object
 1   Hospital County                      object
 2   Operating Certificate Number         float64
 3   Facility Id                          float64
 4   Facility Name                        object
 5   Age Group                            object
 6   Zip Code - 3 digits                  object
 7   Gender                               object
 8   Race                                 object
 9   Ethnicity                            object
 10  Length of Stay                       object
 11  Type of Admission                    object
 12  Patient Disposition                  object
 13  Discharge Year                       int64
 14  CCS Diagnosis Code                   int64
 15  CCS Diagnosis Description            object
 16  CCS Procedure Code                   int64
 17  CCS Procedure Description            object
 18  APR DRG Code                         int64
 19  APR DRG Description                  object
 20  APR MDC Code                         int64
 21  APR MDC Description                  object
 22  APR Severity of Illness Code         int64
 23  APR Severity of Illness Description  object
 24  APR Risk of Mortality                object
 25  APR Medical Surgical Description     object
 26  Payment Typology 1                   object
 27  Payment Typology 2                   object
 28  Payment Typology 3                   object
 29  Attending Provider License Number    float64
 30  Operating Provider License Number    float64
 31  Other Provider License Number        float64
 32  Birth Weight                         int64
 33  Abortion Edit Indicator              object
 34  Emergency Department Indicator       object
 35  Total Charges                        object
 36  Total Costs                          object
dtypes: float64(5), int64(7), object(25)
memory usage: 662.5+ MB

# TODO: Chỉ ra các cột cần sửa lại các cột cho đúng như mô tả dữ liệu

In [ ]:
df['Length of Stay'].unique() # vidu cot nay thoi nha

array(['5', '8', '4', '3', '2', '9', '1', '59', '10', '17', '35', '15',
       '12', '7', '98', '26', '6', '46', '32', '16', '21', '22', '13',
       '77', '14', '58', '28', '11', '18', '19', '29', '27', '42', '24',
       '23', '31', '37', '57', '25', '20', '30', '63', '43', '49', '45',
       '102', '56', '33', '40', '34', '55', '100', '47', '38', '61', '53',
       '117', '62', '120 +', '80', '48', '70', '44', '51', '41', '64',
       '50', '36', '107', '68', '74', '39', '87', '83', '54', '105', '81',
       '112', '76', '91', '86', '66', '72', '94', '93', '67', '69', '73',
       '119', '115', '75', '97', '92', '95', '60', '65', '82', '79', '71',
       '84', '109', '103', '118', '52', '101', '85', '110', '106', '88',
       '111', '104', '89', '78', '116', '90', '113', '108', '114', '96',
       '99', 22, 4, 3, 10, 8, 2, 7, 16, 1, 18, 5, 6, 9, 14, 17, 12, 15,
       11, 27, 30, 65, 41, 28, 21, 13, 36, 20, 49, 32, 45, 29, 25, 50, 70,
       47, 44, 43, 33, 46, 80, 19, 40, 23, 63, 51, 35, 26, 74, 39, 38, 34,
       83, 24, 86, 48, 69, 42, 54, 75, 57, 77, 76, 56, 53, 31, 58, 72, 59,
       37, 52, 60, 82, 62, 64, 93, 113, 84, 68, 102, 95, 73, 71, 94, 101,
       55, 88, 81, 92, 85, 91, 112, 66, 61, 67, 99, 118, 107, 109, 103],
      dtype=object)

*vừa có số nguyên, vừa có chuỗi kìa t.t

# TODO: Lọc ra các cột được sử dụng để phân tích, các cột còn lại bỏ đi nhé để đỡ phải tiền xử lý

## Tiền xử lý dữ liệu

# TODO: chỗ này bao gồm các task ở phía trên hoặc mở rộng thêm: xử lý bọn sai kiểu dữ liệu

## Khám phá dữ liệu (cont)

Chỗ này chủ yếu phân tích giá trị của các biến (numeric ỏr categorical) cũng là để phục vụ cho việc điền NaN.

In [ ]:
np.sum(df.isna())

Health Service Area                       2911
Hospital County                           2911
Operating Certificate Number              2911
Facility Id                               2911
Facility Name                                0
Age Group                                    0
Zip Code - 3 digits                       4427
Gender                                       0
Race                                         0
Ethnicity                                    0
Length of Stay                               0
Type of Admission                            0
Patient Disposition                          0
Discharge Year                               0
CCS Diagnosis Code                           0
CCS Diagnosis Description                    0
CCS Procedure Code                           0
CCS Procedure Description                    0
APR DRG Code                                 0
APR DRG Description                          0
APR MDC Code                                 0
APR MDC Description                          0
APR Severity of Illness Code                 0
APR Severity of Illness Description        112
APR Risk of Mortality                      112
APR Medical Surgical Description             0
Payment Typology 1                           0
Payment Typology 2                      762346
Payment Typology 3                     1645570
Attending Provider License Number         2911
Operating Provider License Number       612848
Other Provider License Number          2275424
Birth Weight                                 0
Abortion Edit Indicator                      0
Emergency Department Indicator               0
Total Charges                                0
Total Costs                                  0
dtype: int64

## Tiền xử lý (cont)

# TODO: fillna với các giá trị thích hợp

# Đặt câu hỏi cần trả lời

#TODO: Đặt 2 - 3 câu hỏi có ý nghĩa liên quan đến dữ liệu này